/*extra large devices (desktop)*/
@media (min-width: 1280px) {
    body > footer {
        & > h2 {
            font-size: 75cqh;
            &.tablet, &.mobile {
                display: none;
            }
        }
    }

    body > .navigation_bar {
        & > #navbar_button {
            display: none;
        }
    }

    body > .section {
        &.hero {
            & > .logo_and_tagline {
                & > h2 {
                    font-size: 3rem;
                    margin: 0;
                }

                & > .logo {
                    & > h1 {
                        font-size: calc(6rem * 1.4);
                        margin: 0;
                    }

                    & > img {
                        height: calc(6rem * 3.0 * 1.4);
                    }
                }
            }

            & > .bottom_container {
                justify-content: space-between;
            }
        }
    }
}