/*small devices (phone)*/
@media (max-width: 768px) {
    body > footer {
        & > h2 {
            font-size: 40cqh;
            &.desktop, &.tablet {
                display: none;
            }
        }
    }

    body > .navigation_bar {
        display: flex;
        
        container-type: size;

        & > button, a {
            display: none;
        }

        & > #navbar_button {
            display: flex;

            width: 56px;
            height: 56px;
        }

        transition-duration: 0.3s;
        transition-property: height;
        
        &.show {
            flex-direction: column;

            width: 100vw;
            height: 100vh;

            & > button, & > a {
                animation-name: navigation_bar_show_buttons;
                animation-duration: 0.3s;
                animation-delay: 0.3s;
                animation-fill-mode: backwards;

                display: flex;
                width: 100%;
                height: 72px;
            }
        }
    }

    body > .section {
        &.hero {
            & > .logo_and_tagline {
                & > h2 {
                    font-size: 3rem;
                    margin: 0;
                }

                & > .logo {
                    & > h1 {
                        font-size: 4rem;
                        margin: 0;
                    }

                    & > img {
                        height: calc(6rem * 2);
                    }
                }
            }

            & > .bottom_container {
                flex-direction: column-reverse;
                height: fit-content;

                gap: 16px;

                & > .list_of_genres {
                    margin-left: none;
                    margin-right: none;
                    height: 25%;
                }

                & > .call_to_action {
                    margin: 0;
                    border-radius: 16px;
                }
            }
        }
    }
}

