* {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #4CC9F0;
    position: relative;
}

button, a, input[type="submit"] {
    all: unset;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f7268580;
    transition: background-color 0.3s ease;

    &:hover {
        cursor: pointer;
        background-color: #F72585;
    }

    &:active{
        transition: none;
        background-color: #B5179E;
    }
}

body > .section {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;

    padding-top: 72px;

    position: relative;
}