div.clone {
    position: absolute;
    z-index: 5;
    pointer-events: none;

    display: flex;
    border-radius: 16px;

    background-color: #F7258580;
    backdrop-filter: blur(8px);
    width: fit-content;
    height: 100%;
    clip-path: none;

    & > img {
        height: 100%;
        object-fit:cover;
        border-radius: inherit;
    }

    & > h2 {
        margin: 0;
        text-align: center;
        color:#4CC9F0;
    }

    /* debugging style, normally should be comented */
    &:hover {
        background-color: red;
    }

    &.locations {
        flex-direction: column;
    }

    &.artists {
        flex-direction: column-reverse;
    }

    animation: grow_size 0.6s ease-out forwards, box-shadow 0.6s ease;
    box-shadow: 0 0px 32px rgba(0, 0, 0, 1);
}



/*small devices (phone)*/
@media (max-width: 768px) {
    div.clone {
        & > h2 {
            font-size: 1.25rem;
        }
    }
}